
a {
	color: #444488;
}

table {
	margin: 10px;
	padding: 4px;
	background-color: #f8f8ff;
	border: 1px solid #eeeeff;
}

table.list_table {
	border-collapse: collapse;
	border: 1px solid #888888;
	background-color: #eeeeff;
}

tr.list_head {
	background-color: #aabbcc;
}

.left_column {
	float: left;
}

.discount_header {
	text-align: left;
}
